<div class="container-fluid">
    <div class="row">
        <label style="margin-right: 20px;">Seleziona il giorno: </label>
        <div class="row btn-group">
            <button *ngIf="!!selectedDate; else noDateButton" type="button" class="btn">{{selectedDate |
                date:'longDate'}}</button>
            <ng-template #noDateButton>
                <button type="button" disabled class="btn">-</button>
            </ng-template>
            <button type="button" id="dropdownMenuButton" class="btn dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
            </button>
            <button style="margin-left: 20px;" type="button" class="btn btn-success" (click)="exportAsExcel()">
                Esporta come excel
            </button>
            <div class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton">
                <div class="list-group" style="height: 200px;">
                    <button *ngFor="let exct of extractionService.extractionList" type="button"
                        class="list-group-item list-group-item-action" (click)="selectDate(exct)">
                        {{exct.date | date:'longDate'}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="!!selectedDate">
        <div class="row btn-group" role="group">
            <button *ngIf="selectedExtractionDeatil && selectedExtractionDeatil != 'Tutte'" type="button" disabled
                class="btn" [ngClass]="groupedView ? 'btn-primary' : 'btn-outline-primary'" (click)="regroup(true)">
                Raggruppate
            </button>
            <button *ngIf="selectedExtractionDeatil && selectedExtractionDeatil != 'Tutte'" type="button" disabled
                class="btn" [ngClass]="groupedView ? 'btn-outline-primary' : 'btn-primary'" (click)="regroup(false)">
                Separate
            </button>
            <button *ngIf="!selectedExtractionDeatil; else selectedDetail" type="button"
                class="btn btn-outline-primary">Seleziona
                l'estrazione</button>
            <ng-template #selectedDetail>
                <button type="button" class="btn btn-outline-primary">
                    {{selectedExtractionDeatil}}
                </button>
            </ng-template>
            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-expanded="false">
                <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let singleExt of extractionTypeList">
                    <a class="dropdown-item" (click)="showSingleExtraction(singleExt)">{{singleExt}}</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="showExtraction()">Vedi tutte</a></li>
            </ul>
        </div>
    </ng-container>

    <div class="row">
        <div class="col tableContainer" #tableContainer>
            <ng-container></ng-container>
        </div>
    </div>
</div>