<div class="container-fluid">
    <div class="row btn-group" role="group">
        <button *ngIf="!extractionObj; else selectedDetail" type="button" class="btn btn-outline-primary">
            Seleziona che dato graficare
        </button>
        <ng-template #selectedDetail>
            <button type="button" class="btn btn-outline-primary">
                {{graphTitle}}
            </button>
        </ng-template>
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let col of extractionObj.extractionColumns">
                <a class="dropdown-item" (click)="generateGraph(col)">{{col.colName}}</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="test()">Grafico d'esempio</a></li>
        </ul>
    </div>

    <div class="row">
        <div *ngIf="show" class="col">
            <line-chart [data]="graphSource" [legend]="graphLegend" [morezIndex]="true"
                [tooltipTemplate]="tooltipTemplate" [tooltipDisabled]="false" [xAxisTickFormatting]="xFormatFn"
                [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax">
                <ng-template #tooltipTemplate let-model="model">
                    <p *ngIf="type=='trendRate'" style="font-size: 10px; text-align: center; margin-bottom: 0;">
                        TASSO
                    </p>
                    <p *ngIf="type=='trendRate'" style="font-size: 16px; text-align: center; margin-bottom: 0;">
                        {{model.value}}%
                    <p *ngIf="type!='trendRate'" style="font-size: 10px; text-align: center; margin-bottom: 0;">
                        Valore importi
                    </p>
                    <p *ngIf="type!='trendRate'" style="font-size: 16px; text-align: center; margin-bottom: 0;">
                        {{model.value|currency:'':'':'0.2-2'}}
                </ng-template>
            </line-chart>
        </div>
    </div>
</div>