<div class="container">

	<div class="row">
		<div class="col-2 no-margin">
			<p>Totale stock: <strong>{{totalrecords}}</strong></p>
		</div>
		<div class="col-4 no-margin">
			<form>
				<input class="form-control me-2" type="text" placeholder="Cerca" id="stockName"
					(keyup)="getFilteredList($event)" aria-label="Search"
					[attr.disabled]="(!totalrecords || totalrecords == 0) ? true : null">
				<div class="dropdown-container">
					<ul>
						<li *ngFor="let item of filteredList" [value]="item.name" (click)="selectStock(item)">
							{{item.name}}
						</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="col-2 no-margin" style="display: inline-flex;">
			<p *ngIf="(filteredList || []).length > 0">Match:
				<strong>
					{{(filteredList || []).length}}
					<ng-container *ngIf="overFlowSearch">+</ng-container>
				</strong>
			</p>
		</div>
	</div>

</div>

<div class="container-fluid">

	<div class="row">
		<div *ngIf="show" class="col">
			<line-chart [data]="graphSource" [legend]="graphLegend" [morezIndex]="true" [view]="[1600,1200]"
				[tooltipDisabled]="false" [xAxisTickFormatting]="xFormatFn" [yScaleMin]="yScaleMin"
				[yScaleMax]="yScaleMax" xAxisLabel="Data" yAxisLabel="Valore" [showXAxisLabel]="true"
				[showYAxisLabel]="true">
				<ng-template #tooltipTemplate let-model="model">
					<p *ngIf="type=='trendRate'" style="font-size: 10px; text-align: center; margin-bottom: 0;">
						TASSO
					</p>
					<p *ngIf="type=='trendRate'" style="font-size: 16px; text-align: center; margin-bottom: 0;">
						{{model.value}}%
					<p *ngIf="type!='trendRate'" style="font-size: 10px; text-align: center; margin-bottom: 0;">
						Valore importi
					</p>
					<p *ngIf="type!='trendRate'" style="font-size: 16px; text-align: center; margin-bottom: 0;">
						{{model.value|currency:'':'':'0.2-2'}}
				</ng-template>
			</line-chart>
		</div>
	</div>

</div>