p {
  font-family: Lato;
}

table, th, td {
  border: 1px solid black;
  text-align: "center";
  vertical-align: "middle";
}

.icon-container {
  display: grid;
  justify-content: center;
  cursor:pointer; 
  filter:invert(36%) sepia(100%) saturate(1050%) hue-rotate(210deg) brightness(84%) contrast(195%);
  margin: 5px 0;
}

.margin-auto {
  margin: auto;
}