.toast {
    // min-width: 250px;
    // max-width: 350px;
    width: 350px;
    overflow: hidden; // cheap rounded corners on nested items
    font-size: .875rem;; // knock it down to 14px
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    backdrop-filter: blur(10px);
    opacity: 0;

    &:not(:last-child) {
        margin-bottom: .75rem;
    }

    &.showing {
        opacity: 1;
    }

    &.show {
        display: block;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}

.toast-header {
    display: flex;
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    // background-color:  rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);

    &.read {
        background-color: #ffffffd9;
    }
    &.unread {
        background-color: #7ebcff;
    }
}

.toast-body {
    padding: .75rem; // apply to both vertical and horizontal
}